/* Skills Styling */

.skill {
  border-left: 3px solid darkcyan;
  border-right: 3px solid darkcyan;
  /* border-top: 2px solid darkcyan; */
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 20px !important;
}

/* Projects Styling */

.project {
  border-left: 3px solid darkcyan;
  border-right: 3px solid darkcyan;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.Above {
  border-bottom: 1px solid gray;
  height: 40px;
}

.viewProject {
  border: none;
  border-radius: 4px;
  padding: 5px 14px;
  font-size: 14px;
}

.viewProject:hover {
  background-color: darkcyan;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.4s ease-in-out;
}


/* Experience Styling */

.expContainer {
  width: 80%;
}

.experience {
  border-left: 4px solid darkcyan;
  border-right: 4px solid darkcyan;
  border-radius: 10px;
  padding: 40px 35px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.expContainer {
  margin-bottom: 120px;
   padding: 0;
}

.expHeadding {
  margin-bottom: 120px !important;
}

.experience > p {
  line-height: 11px;
}

.highlight {
  font-weight: 700;
}

@media (max-width: 1107px) {
  .expContainer {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .expContainer {
    width: 100%;
  }
  .boxShadowDes{
    box-shadow: 0 0 0 !important;
  }
}

@media (max-width: 766px) {
  .expHeadding {
    margin-bottom: 80px !important;
  }
}

@media (max-width:600px) {
    .experience{
        padding: 30px 20px;
    }
} 


/* Smooth Navigation */
#about,
#projects,
#skills,
#experience,
#certificates,
#contact {
  scroll-margin-top: 25px;
}

@media (max-width:991px) {
  #projects,
  #skills,
  #experience,
  #contact {
    scroll-margin-top: 320px;
  }
  #about, #certificates{
    scroll-margin-top: 385px;
  }
}

@media (min-width:992px) {
  #about{
    scroll-margin-top: 405px;
  }
}

/* HERO SECTION */


.hero-section {
  min-height: 100vh;
  background: linear-gradient(135deg, #0b0f19, #0f172a);
  color: #e5e7eb;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;  
}

@media (max-width:410px) {
  .hero-section{
    padding: 5px;
    margin: 0 !important;
    width: 100% !important;
  }
  #homeContainer.container{
    padding: 0 !important;
    width: 100% !important;
  }
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT */
.hero-left {
  max-width: 550px;
  text-align: start;
}

.hero-badge {
  background: rgba(34, 211, 238, 0.15);
  color: #22d3ee;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.hero-title {
  font-size: 3.2rem;
  margin: 15px 0;
}

@media (max-width:991px) {
  .hero-title {
    font-size: 2.2rem;
}
}

.hero-title span {
  color: #22d3ee;
}

.hero-subtitle {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cbd5f5;
}

/* ABOUT  */
.about-heading {
  max-width: 1200px;
  margin: 40px auto 20px;
  padding: 0 20px;
}

.about-heading h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.about-line {
  width: 60px;
  height: 3px;
  background: #22d3ee;
  border-radius: 4px;
}

@media (max-width:925px) {
  .hero-container{
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-heading {
    text-align: center;
  }

  .about-line {
    margin: auto;
  }
}

.hero-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.hero-skills span {
  background: #111827;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
}

/* BUTTONS */
.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #22d3ee;
  color: #0b0f19;
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn-primary:hover{
  background-color: transparent;
  color: #22D3EE;
  border: 1px solid #22d3ee;
  transition: 0.3s all;
}

.btn-secondary {
  border: 1px solid #22d3ee;
  color: #22d3ee;
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
}

.btn-secondary:hover{
  background-color: #22D3EE;
  color: #000;
  font-weight: 600;
  transition: 0.3s all;
}

/* RIGHT */
.hero-right {
  position: relative;
  border-top-left-radius:100px;
  border-top-right-radius:100px;
  background-color:#102D3E;
}

@media (max-width:768px) {
  .hero-right{
      background: linear-gradient(120deg,#050f14,#061822);
  }
}

.hero-image {
  width: 100%;
  max-width: 320px;
  z-index: 2;
  position: relative;
}

.image-glow {
  position: absolute;
  width: 320px;
  height: 320px;
  background: #22d3ee;
  filter: blur(120px);
  opacity: 0.35;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Know more about me */
.knowMore{
  display: inline-block;
  padding: 5px 10px 5px 0;
}

.knowMore a{
  text-decoration: none;
  color: #22D3EE;
}

.knowMore:hover{
  text-decoration: underline;
  text-decoration-color: #22D3EE;
}

.knowMore-link{
  text-shadow: 0 0 6px #0d444d;
}

.knowMore-link:hover{
  text-shadow: 0 0 6px #47b7c9;
}



/* SKILLS SECTION */

.skills-section {
  padding: 80px 20px;
  background: #0b0f19;
  color: #e5e7eb;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.skills-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 991px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}


/* SKILL CARD */

.skill-card {
  background: rgba(17, 24, 39, 0.8);
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  min-height: 177px;
}

.skill-card::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(120deg, transparent, rgba(34, 211, 238, 0.2), transparent); */
  opacity: 0;
  transition: 0.4s;
}

.skill-card:hover::before {
  opacity: 1;
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.02);
}

/* CARD TITLE */
.skill-card h3 {
  font-size: 1.4rem;
  margin-bottom: 25px;
  color: #22d3ee;
}

/* TAGS */
.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tags span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #111827;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid rgba(34, 211, 238, 0.3);
  transition: 0.3s;
  cursor: pointer !important; 
  min-width: 100px;
}
.skill-tags span svg {
  font-size: 18px;
  pointer-events: none;
}

.skill-tags span:hover {
  background: #22d3ee;
  color: #0b0f19;
  box-shadow: 0 0 10px #e34f26 !important;
}




/* ICON COLORS */
.html { color: #e34f26;}
.css { color: #1572b6; }
.javascript { color: #f7df1e; }
.react { color: #61dafb; }
.tailwind { color: #38bdf8; }
.bootstrap { color: #7952b3; }

.node { color: #3c873a; }
.express { color: #ffffff; } 
.redux { color: #764abc; }

.mongo { color: #47a248; }
.git { color: #f05032; }
.github { color: #e5e7eb; }
.cloudinary { color: #3448c5; }



/* PROJECTS SECTION */

.projects-section {
  padding: 80px 20px;
  background: #0b0f19;
  color: #e5e7eb;
}

.project-filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.project-filters button {
  background: transparent;
  border: 1px solid #22d3ee;
  color: #22d3ee;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.project-filters button:hover {
  background: #22d3ee;
  color: #0b0f19;
}

/* GRID */
.projects-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* CARD */
.project-card {
  background: #111827;
  border-radius: 18px;
  overflow: hidden;
  transition: transform 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 0 7px 10px;
  position: relative;
  padding-bottom: 70px;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  position: relative;
  overflow: hidden; 
}

.project-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(11, 15, 25, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.project-image:hover .project-overlay {
  opacity: 1;
  pointer-events: auto;
}

.project-overlay a {
  background: #22d3ee;
  color: #0b0f19;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transform: translateY(10px);
  transition: transform 0.3s ease;
}

.project-image:hover .project-overlay a {
  transform: translateY(0);
}

.project-content {
  padding: 25px;
  font-family: "Montserrat", sans-serif;
}

.proj-title{
  margin-bottom: 15px !important;
  color: #22d3ee;
  font-weight: 600;
}

.proj-desc{
  text-align: start;
}

.proj-desc li{
    margin: 5px 0;
}

.project-content h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #22d3ee;
}

.project-content p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #cbd5f5;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.project-tech span {
  background: #0b0f19;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  border: 1px solid rgba(34, 211, 238, 0.3);
}

@media (max-width: 975px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project-actions {
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.project-actions a {
  text-align: center;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  background: transparent;
  border: 1px solid #22d3ee;
  color: #22d3ee;
  transition: 0.3s ease;
  min-width: 110px;
  margin: 0 20px;
}


.project-actions a:hover {
  background: #22d3ee;
  color: #0b0f19;
}

.selectedSkill{
  background-color: #22D3EE !important;
  color: #000 !important;
  font-weight: 600 !important;
}

@media (min-width:500px) and (max-width:975px) {
  .project-actions a{
    margin: 0 80px;
  }
}


/* EXPERIENCE SECTION */

.experience-section {
  padding: 80px 20px;
  background: #0b0f19;
  color: #e5e7eb;
}

.exp-list {
  max-width: 900px;
  margin: auto;
  position: relative;
  padding-left: 30px;
}

.exp-list::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(34, 211, 238, 0.3);
}

.exp-item {
  position: relative;
  margin-bottom: 50px;
}

/* Experience DOT */
/* .exp-dot {
  position: absolute;
  left: -2px;
  top: 6px;
  width: 16px;
  height: 16px;
  background: #22d3ee;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(34, 211, 238, 0.8);
} */

.exp-card {
  background: #111827;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: start;
}

.exp-card h3 {
  margin: 0;
  color: #22d3ee;
  font-size: 1.3rem;
}

.exp-company {
  display: inline-block;
  font-weight: 600;
  margin-top: 5px;
  color: #e5e7eb;
  text-decoration: none;
}

.exp-company:hover{
  text-decoration: underline;
  color: #22d3ee;
}

.exp-date {
  display: block;
  font-size: 0.9rem;
  color: #9ca3af;
  margin: 6px 0 15px;
}

.exp-card ul {
  padding-left: 18px;
}

.exp-card li {
  margin-bottom: 8px;
  line-height: 1.5;
  color: #cbd5f5;
}

@media (max-width: 768px) {
  .exp-list {
    padding-left: 20px;
  }

  .exp-card {
    padding: 20px;
  }
}


/* CERTIFICATES SECTION */

.certificateContainer {
  /* max-width: 1000px;  */
  margin: auto;
  padding: 60px 20px;
  background-color: #0b1220;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
  align-items: start;
}

.certificate {
  background: #0b1220;
  border-radius: 18px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  max-width: 460px;
}

.certificate:hover {
  transform: translateY(-6px);
}

.cert-title {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  color: #22d3ee;
  margin-bottom: 12px;
  margin-top: 4px;
}

.cert-image {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 14px;
  object-fit: contain;
  background: #ffffff;  
  padding: 10px;
}

.cert-duration{
  color: #9ca3af;
}

@media (max-width:410px) {
  .cert-image{
    max-height: 270px;
  }
}

@media (max-width:385px) {
  .cert-image{
    max-height: 240px;
  }
}

@media (max-width: 767px) {
  .cert-duration {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .certificates {
    grid-template-columns: 1fr; 
    justify-items: center;
  }

  .certificate {
    max-width: 420px;   
    width: 100%;
    text-align: center;
  }

  .cert-title {
    text-align: center;
  }
  .cert-duration{
    text-align: start;
  }
}

/* @media (max-width:410px) {
  
} */

.cert-btn {
  display: inline-block;
  margin-top: -3px;
  padding: 1px 6px;
  border-radius: 15px;
  /* font-size: 0.9rem; */
  font-weight: 600;
  text-decoration: none;
  background: transparent;
  color: #22d3ee;
  border: 1px solid #22d3ee;
  transition: all 0.3s ease;
}

.cert-btn:hover {
  background: #22d3ee;
  color: #0b0f19;
}

.cert-btn:hover::before{
  content: "view";
  position: absolute;
  top: 0;
  right: -50px;
  color: white;
  width: 100px;
  color: #22d3ee;
  font-weight: 500;
  font-size: 15px;
}

@media (max-width:767px) {
  .cert-btn:hover::before{
    /* content: "View"; */
    position: absolute;
    top: 0;
    right: -15px;
  }
}


/* CONTACT SECTION */

.contact-section {
  padding: 80px 20px;
  background: #0b0f19;
  color: #e5e7eb;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contact-card {
  max-width: 600px;
  margin: auto;
  background: #111827;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1.05rem;
  padding: 14px 18px;
  border-radius: 14px;
  background: #0b1220;
  transition: all 0.3s ease;
}

.contact-item svg {
  font-size: 20px;
  color: #22d3ee;
}

.contact-item span {
  word-break: break-all;    
 }


.contact-item:hover {
  background: rgba(34, 211, 238, 0.12);
  transform: translateX(6px);
}

@media (max-width: 768px) {
  .contact-card {
    padding: 22px;
  }

  .contact-item {
    font-size: 1rem;
  }
}

@media (max-width:991px) {
  .container {
  max-width: 1200px !important;
  margin: 0 auto !important;
  padding: 0 20px !important;
}

}

.titleLine{
  position: relative;
  display: inline-block;
  background: linear-gradient(120deg,#1572b6,#102D3E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleLine::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;         
  width: 100%;           
  height: 3px;
  background: #0d4363;
  border-radius: 4px;
}

  /* SOCIAL ICONS */

.socialIcons {
  position: relative;
  bottom: 66px;
  padding: 10px;
  gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons .icon {
  height: 46px;
  width: 46px;
  border: 1px solid #22d3ee!important;
  color: #22d3ee !important;
  border-radius:  50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.22),
      rgba(255, 255, 255, 0.06) 40%,
      rgba(0, 0, 0, 0.35) 100%
    );
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 6px 10px rgba(0, 0, 0, 0.45),
    inset 0 -6px 10px rgba(255, 255, 255, 0.08),
    0 12px 28px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.social-icon {
  font-size: 22px;
  opacity: 0.95;
}

.socialIcons .tweeterx{
  font-size: 20px ;
}

.socialIcons .icon:hover {
  transform: translateY(-6px) scale(1.06);
  transition: all 0.2s ease-in-out;
}

.icon:hover{
  border-radius: 50%;
  box-shadow: 0 0 10px #22d3ee;
}

@media (max-width:925px) {
  
.socialIcons {
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end !important;
}
}

@media (max-width:560px) {
  .socialIcons .icon {
  height: 40px;
  width: 40px;
  font-size: 20px;
}
.socialIcons{
  position: absolute;
  right: 0;
}
}



/* More About Me Page Styling */

.moreAboutme{
  color: #e5e7eb;
  font-family: "Montserrat", sans-serif;
}

@media (max-width:991px) {
  .moreAboutme{
    margin: 40px 0 !important;
  }
}

@media (max-width:423px) {
  .hero-title{
    font-size: 1.9rem !important;
  }
}



@media (max-width:460px) {
  .project-content {
    padding: 25px 6px;
  }
}