/* .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 16px;
}

.navbar {
  background: #ffffff;
}

.navbar-brand {
  font-size: 22px;
}

.navLogo{
  max-width: 300px;
  height: 40px;
}

.navbar .btn-outline-success {
  border-radius: 8px;
  font-size: 15px;
}

.nav-link{
    font-size: 19px !important;
}

#NavLinks{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
  #NavLinks {
    width: auto !important;     
  }
}

@media (max-width:991px) {
  #about,
#projects,
#skills,
#experience,
#certificates {
  scroll-margin-top: 390px;
}

}

@media (max-width:1095px) {
  .navbar-nav{
    gap: 9px !important;
  }
}

@media (min-width:991px) and (max-width:1095px) {
.navbar-nav{
  gap: 19px !important;
} 
}

@media (min-width:1100px) {
  .navbar-nav{
   gap: 40px !important;
  }
}
 */


 /* NAVBAR BASE */
.navbar {
  background: rgba(11, 15, 25, 0.9) !important;
  background-color: #0b0f19 !important;
  backdrop-filter: blur(10px);
}

/* LOGO */
.navLogo {
  height: 40px;
  object-fit: contain;
}

/* NAV LINKS */
.navbar-nav .nav-link {
  color: #e5e7eb;
  font-weight: 500;
  position: relative;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #22d3ee;
}

/* underline effect */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #22d3ee;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.nav-item {
  margin: 0 20px;
}

.nav-link{
  display: inline-block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.activeLink {
  color: #22d3ee !important;
  font-weight: 600;
}

.activeLink::after {
  width: 100% !important; 
}

.activeContact{
  background-color: #22d3ee;
  color: #000 !important;
  font-weight: 600;
}

/* CONTACT BUTTON */
.navbar .btn {
  border-color: #22d3ee;
  color: #22d3ee;
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  background: #22d3ee;
  color: #0b0f19;
}

/* TOGGLER */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* MOBILE */
@media (max-width: 991px) {
  .navbar-nav {
    gap: 10px;
    text-align: center;
    padding-top: 20px;
  }

  .navbar .btn {
    margin-top: 15px;
  }
}


/* TEXT LOGO */
.logo-text {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #e5e7eb;
  text-decoration: none;
}

.logo-text span {
  color: #22d3ee; /* accent color */
}

/* HOVER EFFECT */
.logo-text:hover {
  color: #22d3ee;
}

.logo-text:hover span {
  color: #e5e7eb;
}

.logo-text:hover {
  text-shadow: 0 0 10px rgba(34, 211, 238, 0.6);
}

.toggleBtnColor{
  color: #22d3ee;
}